@font-face {
   font-family: 'Roboto';
   src: url('font/Roboto-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Intrique';
   src: url('font/IntriqueScript_PersonalUse.ttf') format('truetype');
}

@font-face{
    font-family: 'Roboto-light';
    src: url('font/Roboto-Light.ttf') format('truetype');
}

/* 
	andreagalanti modifiche 2ottobre2014 
	Nuove classi
*/ 

..toolbar-button, .toolbar-button--outline, .toolbar-button--quiet {
background-color: rgba(0,0,0,0)!important;

}

.ippo_input{
	border-bottom:2px solid #e7406d !important;
}

.ippo_input_bas{
	background-image: none !important;

}

/* Pagina Interna */

.setting_page {
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 17px;
  background-color: #fff;
  background-image: url('../img/prova.jpg') !important;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  font-size: 17px;
  color: #1f1f21;
  background-repeat: no-repeat !important;
background-size: 100% !important;
}

.setting_page .page__content {background-color: rgba(255, 255, 255, 0);}

.photo_header {
	width:100%;
	height:200px;
	background-color: #ccc;
	
}

.main_info{position: relative;
z-index: 2;
margin-top: 200px;
background: white;}

.text_header{background-color: white; padding:10px 0; margin-bottom: 20px;}
.text_black_header{background-color: rgba(0, 0, 0, 0.8); padding:10px 0;}

/* FONT */
h1 {margin:0; padding:0; color:#666 } 
h2 {
	margin:0; 
	padding:0; 
	color:#666;
	font-family: 'Roboto';
	font-size: 24px;
}

p {margin:0; padding:0; color:#666;font-size: 14px;}

.p_big {font-size:;}
.p_big_black{font-size:34px; color:#666;}

.p_med{font-size:18px;}
.p_med_black{font-size:20px; color:#666;}

.p_small{font-size:14px;}
.p_small_black{font-size:14px; color:#666;}

.link_button{
background-color: none;
text-align: center;
width: 90%;
height: 60px;
font-family: 'Roboto';
font-size: 13px;
color: red;
line-height: 50px;
border:0;
}
.link_button::active{
	background-color: none !important;
	border:0 !important;
}

/* END andreagalanti*/ 


.toolbar--ippo-toolbar {
  background:red;
}
.primary-bg{
    background-color: #23a69a;
}

.secondary-bg{ 
    background-color: #e7406d;

}

.tb{
	background-color:rgba(0, 0, 0, 0.7);


}
.logo{
	font-family:'Intrique';

	color:#fafafa;
	font-size:60px;
	line-height:50%;
}

.image_intro{
	width:100%;
	height:50%;
	background-image:url(../img/ippo_cp.png);
	background-repeat:no-repeat;
	opacity:0.4;
	background-size:50%;
	background-position:center
}

.image_intro2{
	width:100%;
	height:100%;
	background-image:url(../img/ippo_cp.png);
	background-repeat:no-repeat;
	opacity:0.4;
	background-size:40%;
	background-position:center
}


.image_log_sign{
	width:100%;
	height:30%;
	background-image:url(../img/ippo_cp.png);
	background-repeat:no-repeat;
	opacity:0.4;
	background-size:50%;
	background-position:top;
	margin-top:10%;


}

.image_log_serv{

	width:100%;
	height:30%;
	background-image:url(../img/ippo_gc_black.png);
	background-repeat:no-repeat;
	opacity:0.4;
	background-size:50%;
	background-position:top;
	margin-top:10%;
}

.unlog_page {
	background-color:rgba(0, 0, 0, 0.8);
	}
.unlog_list	{background-color:rgba(0, 0, 0, 0.0);
	}
	
.sign {
	background-color:#e7406d;
	text-align: center;
	width: 90%;
	height:60px;
	margin:10px;
	font-family:'Roboto';
	font-size:20px;
	color:#fafafa;
	line-height:50px;

}

.sign2 {
	background-color:#e7406d;
	text-align: center;
	width: 100%;
	height:60px;
	font-family:'Roboto';
	font-size:20px;
	color:#fafafa;
	line-height:50px;

}

.log {
	background-color:#23a69a;
	text-align: center;
	width: 90%;
	height:60px;
	font-family:'Roboto';
	font-size:20px;
	color:#fafafa;
	line-height:50px;
}

.log2{
	background-color:#23a69a;
	text-align: center;
	width: 100%;
	height:60px;
	font-family:'Roboto';
	font-size:20px;
	color:#fafafa;
	line-height:50px;
}

.ons-back-button__icon{
    color:#fafafa
}

.ons-icon{
    color:#fafafa;
    size:30px;
}

.input_area{
	margin-top:10%;
	margin-bottom:10%;

}
.testo_input{ 
	font-family:'Roboto';
	font-size:20px;
	color:#fafafa;
	
}
.input_area .ons-icon{
	color:#fafafa;
}

body.logged .tb{
	background-color:#23a69a;

}

.list_directory{
	height:100px;
	width:100%;
	padding:15px;

}

.directory_img{
    margin-right:10px
}

.directory_name{
	font-family:'Roboto';
	font-size:18px;
	padding-top:10px;
    padding-left:10px;
}

.photo_container {
	margin:0 auto;
	width:90%;
	padding:8px;
}

.photo{
	width: 32%;
	height: 100px;
	float: left;
	margin: 0.5%;
	background-color: #333;
}

.image_back{
	width: 95%;
	height: 100%;
	background-image: url(../img/ippo_cp.png);
	background-repeat: no-repeat;
	opacity: 0.9;
	background-size: 60%;
	background-position: center;


}
.filter-container{
	width:200px;
	height:44px;
	background-color:#333;
	position:absolute;
	top:0;
	left:0;

}
.menu_filter{
	float:left;
	margin:0;
	width:76px;
	height:50%;
	text-align:center;
	padding:12px;
	background-color:rgba(0, 0, 0, 0.8)

	}

.list-container-menu{
	background-color:#333;
	height:100%;
}


.filter{
	font-family:'Roboto';
	font-size:20px;
	color:#fafafa;


}

.filter-container div.active{
	background-color:#e7406d;
}

.filter_list{
	margin-top:44px;
	background-color:#333;
	height:500px;
}

.list-box{
	background-color:#333;
	height:60px;
	width:200px;
	color:#fafafa;
	font-family:'Roboto';
	font-size:20px;
}

.modal-box{
    width:90%;
    height:170px;
    background-color: #333;
    position:relative;
    margin-left:5%;
}

.message-modal{
    width:100%;
    height:60px;
    padding-top:50px;

}

.button-modal{
    width:49%;
    height:60px;
    border:none;
    background-color: #444;
    padding-top:15px;

}

.photo-detail{
    background-image: url(../img/dettaglio.jpg);
    width:100%;
    height:355px;
    background-size: contain;
    background-repeat: no-repeat;
}


.description{
    width:100%;
    background-color: #23a69a;
    padding-left:5%;
    padding-right:5%;
    
}

.title{ 
    font-size: 40px;
    color:#fafafa;
    font-weight:700;
    padding-top:20px;
    padding-bottom:20px;
    
}

.tags{
    font-size:25px;
    color:#fafafa;
    padding-bottom:20px;

}

.text{ 
    font-size:16px;
    color:#fafafa;
    padding-bottom:20px;
}

.modal-boxright{
    width:50%;
    position:absolute;
    margin-left:50%;
    top:44px;

}

.menu-right{
    background-color: #333;

}

.menu-right .list__item{
    color:#fafafa !important;
    border:2px solid #333;
    font-family:'Roboto-light';
    letter-spacing: 0.5px;
}

 .menu-right .list__item:active{
    background-color:#e7406d; 
 }